/* All CSS Screen Sizes */
#ux-panel1 .MuiFormControlLabel-root {
  margin-bottom: -11px;
}

#ux-panel2 button:focus {
  outline: none;
}

/* Mobile CSS */
@media screen and (max-width: 600px) {
  #iconBtnContainer {
    text-align: center;
  }
  #callToActionBtns {
    text-align: center;
  }
}

/* Tablet CSS */
@media screen and (min-width: 600px) {
}

/* Laptop CSS */
@media screen and (min-width: 960px) {
}
